body {
    margin: 60px auto;
    width: 70%;
    background-color: #c2d3f5
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 2px;
    list-style: none;
    font-weight: bold;
    border-bottom: 3px solid #3b5faa;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #3b5faa;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #06225f;
}
h2 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #2d4c8c;
}
p {
    font-family:'Arial', 'Arial', 'Sans-Serif';
    font-size: 1.15em;
    line-height: 1.3em;
    color: #06225f;
}
footer {
    border-top: 1px solid #3b5faa;
    font-size: .5em;
}
img {
    border: 3px solid #5d73a3;
    border-radius: 25px;
    padding: 2px;
    display: block;
    margin: auto;
}