body {
    margin: 60px auto;
    width: 70%;
}
nav{
    padding-bottom: 40px;
    border-bottom: 3px solid #3b5faa;
    margin-bottom: 30px;
}
.nav-left{
    float: left;
}
.nav-right{
    float: right;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    padding: 2px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #5272b4;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #06225f;
}
h2 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #000000;
}
h3 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #747474;
    padding:0;
}
h4 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #2d4c8c;
    margin-bottom:0px;
    padding-bottom:0px;
    height: 1em;
}
h5 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #a3a3a3;
    margin-top:12px;
    margin-bottom:5px;
    line-height: 0em;
    height: 0em;
}
p {
    font-family:'Arial', 'Arial', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.2em;
    color: #06225f;
    padding-bottom: 0px;
}
footer {
/*    padding-top: 10px;*/
    border-top: 1px solid #3b5faa;
    font-size: .6em;
}
ol li {
    font-size: 1em;
    font-family:'Arial', 'Arial', 'Sans-Serif';
    color: #06225f;
}
ul { 
    padding-top: 0px;
/*    height: 50px;*/
/*    line-height: 10px;*/
}
ul li {
    font-size: 1em;
    font-family:'Arial', 'Arial', 'Sans-Serif';
    color: #06225f;
    list-style-image: url('arrow.png');
    /*list-style-type: disc;*/
    padding-bottom: 10px;
}
ul li ul li {
    font-size: 1em;
    font-family:'Arial', 'Arial', 'Sans-Serif';
    color: #06225f;
    list-style-image: none;
    list-style-type: disc;
}
img {
/*    border: 3px solid #5d73a3;*/
/*    border-radius: 8px;*/
    padding: 2px;
    display: block;
    margin: auto;
}
iframe {
    display: block;
    border-style:none;
    margin: auto;
    padding-bottom: 20px;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
/*  background-color: #eee;*/
/*  color: #444;*/
  font-family:'Arial', 'Arial', 'Sans-Serif';
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}