body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 2px;
    list-style: none;
    font-weight: bold;
    border-bottom: 3px solid #3b5faa;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #5272b4;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #06225f;
}
h2 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #2d4c8c;
}
h3 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #8495af;
    margin:0;
    padding:0;
}
p {
    font-family:'Arial', 'Arial', 'Sans-Serif';
    font-size: 1.3em;
    line-height: 1.4em;
    color: #06225f;
}
footer {
    border-top: 1px solid #3b5faa;
    font-size: .5em;
}
ol li {
    font-size: 1em;
    font-family:'Arial', 'Arial', 'Sans-Serif';
    color: #06225f;
}
/*ul { 
    margin: 20px auto 40px; 
    font-family:'Arial', 'Arial', 'Sans-Serif';
    font-size: 1em;
    color: #06225f;
}*/
ul li {
    font-size: 1em;
    font-family:'Arial', 'Arial', 'Sans-Serif';
    color: #06225f;
    list-style-image: url('arrow.png');
    padding: 5px 0px;
    /*list-style-type: disc;*/
}
ul li ul li {
    font-size: 1em;
    font-family:'Arial', 'Arial', 'Sans-Serif';
    color: #06225f;
    list-style-image: none;
    list-style-type: disc;
}
img {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    display: block;
    margin: auto;
}